# Frontend
API_BASE_URL=http://127.0.0.1:8001

# Backend
WINLONG_DB_PATH=/Users/yansongbai/Documents/Documents - WOODYYAN-MC2/projects/winlong/data/winlong.db
WINLONG_ALLOWED_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
